doctype html
html
  head
    title Saving your profile
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://code.jquery.com/jquery-2.2.4.min.js")
    script(src="/javascripts/access-token.js")
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    block content
        h1#status Saving your profile...
        br
        br
        a#app-switch(href="cdUportDemoCustomURLScheme://") Back to the demo app
        br
        br
        a#get-profile Get profile object
